html,body {
    height:100%;
}
html {
    display:table;
    margin:auto;
}
body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#videofeed {
    margin: auto;
    align-items: center;
}
#videoElement {
    width: 95%;
    max-height: 80%;
    margin: auto;
}
